.navigation {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

.navigation__logo {
  max-width: 50%;
}

.navigation__links {
  a {
    color: $spanish-gray;
    font-size: $medium;
    margin: 10px;
    font-family: $mono;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}

.navigation__links {
  padding-top: 20px;
}
