.principal__img {
  width: 899px;
  height: 440px;

}

.principal__txt {
  float: right;
  margin-right: 80px;
}

.description {
  color: $white;
}

.description__text {
  display: block;
  background-color: $white;
  position: relative;
  left: 430px;
  bottom: 150px;
  height: 155px;
  width: 470px;
}

.description__decoration-2 {
  display: inline-block;
  height: 140px;
  width: 135px;
  background-color: $flame;
  position: relative;
  left: 750px;
  bottom: 400px;
  text-align: center;
}

.description__decoration-1 {
  display: inline-block;
  height: 140px;
  width: 135px;
  background-color: $buff;
  position: relative;
  left: 900px;
  bottom: 300px;
}

.description__paragraph {
  font-family: $roboto;
  font-size: $medium;
}
