.principal {
  height: 440px;
}

.principal__txt {
  float: right;
  margin-right: 150px;
  margin-top: 50px;
}

.description {
  color: $white;
  position: absolute;
  top: 0;
}

.description__text {
  display: block;
  background-color: $white;
  position: relative;
  left: 430px;
  top: 406px;
  height: 155px;
  width: 470px;
}

.description__decoration-2 {
  display: inline-block;
  height: 150px;
  width: 150px;
  background-color: $flame;
  position: relative;
  left: 727px;
  top: 145px;
  text-align: center;
}

.description__decoration-1 {
  display: inline-block;
  height: 150px;
  width: 150px;
  background-color: $buff;
  position: relative;
  left: 900px;
  top: 255px;
}

.description__paragraph {
  font-family: $roboto;
  font-size: $medium;
}
