.ubication {
  position: relative;
  margin-left: 80px;
  width: 300px;
}

.ubication__text {
  line-height: 22px;
  display: block;
  width: 300px;
  margin-top: 40px;
}

.ubication__decoration {
  height: 233px;
  width: 470px;
  background-color: $blue-de-france;
  display: block;
  position: absolute;
  left: 350px;
  top: -40px;
}

.ubication__img-coffee-shop {
  width: 181%;
  position: absolute;
  left: 820px;
  bottom: -93px;
}

.ubication__img-coffee-grain {
  width: 60%;
  transform: rotate(90deg);
  bottom: 37px;
  position: absolute;
  left: 730px;
}

.ubication__img-map {
  position: absolute;
  width: 140%;
  bottom: -74px;
  left: 320px;
}
